@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RedHatText";
  src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "RedHatTextItalic";
  src: url("./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
